.movie-card-container {
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-clip: border-box;
}

.movie-card-backdrop {
  width: 100%;
  height: 120px;
}

.backdrop-img {
  max-width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.poster-img {
  width: 55px;
  height: 75px;
  position: absolute;
  top: -30%;
  left: 5%;
}

.movie-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  color: #99aabb;
  align-items: center;
}

.movie-card-title {
  font-size: 16px;
}

.movie-card-title a {
  color: #000;
  text-decoration: none;
}

.movie-card-title a:hover {
  color: #75caeb;
}

.movie-card-synopsis {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie-card-info-content {
  display: flex;
  flex-direction: column;
  margin: 40px 15px 15px 15px;
  color: #000;
}

.movie-card-footer {
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: auto;
}

.movie-card-footer-content {
  font-size: 12px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
