header {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: #75caeb;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  color: #fff;
  font-size: 82px;
  letter-spacing: 3.5px;
  font-family: "Bebas Neue";
}

.hero-subheading {
  font-weight: 500;
  color: #fff;
  font-size: 32px;
  text-align: center;
}
